    /*
    Flaticon icon font: Flaticon
    Creation date: 11/07/2016 16:17
    */

    @font-face {
  font-family: "Flaticon";
  src: url("fonts/Flaticon.eot");
  src: url("fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("fonts/Flaticon.woff") format("woff"),
       url("fonts/Flaticon.ttf") format("truetype"),
       url("fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-africa-map:before { content: "\f100"; }
.flaticon-big-stadium:before { content: "\f101"; }
.flaticon-charlie-chaplin:before { content: "\f102"; }
.flaticon-leprechaun:before { content: "\f103"; }
.flaticon-mummy-head-with-opened-eyes-for-halloween:before { content: "\f104"; }
.flaticon-musical-pentagram-lines-with-music-notes:before { content: "\f105"; }
.flaticon-nature:before { content: "\f106"; }
.flaticon-people-1:before { content: "\f107"; }
.flaticon-truck-wheel:before { content: "\f108"; }
.flaticon-wheelbarrow:before { content: "\f109"; }
    
    $font-Flaticon-africa-map: "\f100";
    $font-Flaticon-big-stadium: "\f101";
    $font-Flaticon-charlie-chaplin: "\f102";
    $font-Flaticon-leprechaun: "\f103";
    $font-Flaticon-mummy-head-with-opened-eyes-for-halloween: "\f104";
    $font-Flaticon-musical-pentagram-lines-with-music-notes: "\f105";
    $font-Flaticon-nature: "\f106";
    $font-Flaticon-people-1: "\f107";
    $font-Flaticon-truck-wheel: "\f108";
    $font-Flaticon-wheelbarrow: "\f109";

