@import "variables";
@import "flaticon";
@import "fonts/kids/flaticon";
@import "fonts/edu/flaticon";
@import "fonts/animals/flaticon";
@import "fonts/city/flaticon";
@import "fonts/fairy/flaticon";
@import "fonts/game/flaticon";
@import "letter";


* {
	padding: 0;
	margin: 0;
}
body {
	background-color: $bgColor;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	overflow: hidden;
}
h1 {
	font-family: 'Katibeh', cursive;
	color: $mainColor;
	display: flex;
	align-self: flex-start;
	@media (min-width: $thirDim) {
		font-size: 3vw;
	}
	em {
		font-style: normal;
		color: $emColor;
	}
}
i {
	font-family: "Flaticon", serif;
	font-size: 6vw;
	font-style: normal;
	color: $emColor;
	cursor: pointer;
	@media (min-width: $forthDim) {
		font-size: 4vw;
	}
}
header {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
	width: 90%;
	height: 15vh;
	p {
		margin: 10px 0;
	}
	i {
		font-size: 10vw;
		@media all and (min-width: $seconDim) {
			font-size: 7vw;
		}
		@media all and (orientation:landscape) {
			font-size: 7vw;
		}
	}
	@media all and (orientation:portrait) {
		align-items: flex-start;
	}
	@media all and (orientation:portrait)  and (min-width: $firstDim) {
		height: 10vh;
		}
	@media all and (min-width: $thirDim) {
		height: 10vh;
		align-items: flex-start;
		i {
			font-size: 5vw;
		}
	}
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 85vh;
	flex-direction: row;
	.shake-slow {
		display: flex;
		transform-origin: center center;
	}
	@media all and (orientation:portrait) {
		flex-direction: column;
		justify-content: space-around;
	}
}
.abc {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	width: 50vw;
	p {
		margin: 1vw 3vw;
	}
	i {
		font-size: 10vw;
		transition: 1s;
		padding: 1vw;
		display: inline-flex;
		&:hover {
			transform: rotare(360deg) scale(0.8);
			border-radius: 50%;
			background-color: $emColor;
			color: $bgColor;
		}
		@media (min-width: $forthDim) {
			font-size: 7vw;
		}
	}
	@media all and (orientation:portrait) {
		width: 100vw;
		i {
			font-size: 20vw;
			@media all and (orientation:portrait)  and (min-width: $firstDim) {
				font-size: 17vw;
			}
		}
		p {
			margin: 1vh 5vw;
		}
	}


	@-webkit-keyframes fadeIn {
		to {
			opacity: 1;
		}
	}

	@keyframes fadeIn {
		to {
			opacity: 1;
		}
	}
	.hidden {
		-webkit-animation: fadeIn .5s ease-in 1 forwards;
		animation: fadeIn .5s ease-in 1 forwards;
		opacity: 0;
		transition: 1s;
		transform: scale(1);
	}

	.is-paused {
		-webkit-animation-play-state: paused;
		animation-play-state: paused;
		transform: scale(0.1);

	}
}
footer {
	display: none;
	@media (min-width: $thirDim) {
		display: flex;
		justify-content: space-around;
		width: 100%;
		h1 {
			text-transform: uppercase;
			font-size: 4vw;
			box-sizing: border-box;
			padding: 0 1vw 1vh 1vw;
			color: $emColor;
			transition: 1s;
			opacity: 0.5;
			cursor: pointer;
			&:hover {
				transform: scale(1.5);
				transform-origin: 50% 100%;
				color: $mainColor;
				opacity: 1;
			}
		}
	}
}
nav {
	width: 80vw;
	height: 80vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	transition: all 1s cubic-bezier(0.4, 0, 1, 0.29);
	&.none {
		opacity: 0;
		transform: scale(0.1);
		transition: all 1s cubic-bezier(0.4, 0, 1, 0.29);
	}
	h1 {
		text-transform: uppercase;
		font-size: 10vw;
		box-sizing: border-box;
		padding: 1vh 2vw;
		color: #2bb5c1;
		transition: 1s;
		opacity: 0.5;
		cursor: pointer;
		&:hover {
			transform: scale(1.5);
			transform-origin: 50% 100%;
			color: $mainColor;
			opacity: 1;
		}
		@media all and (orientation:portrait)  and (max-width: $firstDim) {
			font-size: 20vw;
		}
		@media all and (orientation:portrait)  and (min-width: $firstDim) {
			font-size: 18vw;
		}
	}
}