    /*
    Flaticon icon font: Flaticon
    Creation date: 22/06/2016 15:41
    */

    @font-face {
  font-family: "Flaticon-city";
  src: url("./fonts/city/Flaticon.eot");
  src: url("./fonts/city/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./fonts/city/Flaticon.woff") format("woff"),
       url("./fonts/city/Flaticon.ttf") format("truetype"),
       url("./fonts/city/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon-city";
    src: url("./fonts/city/Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon-city";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-annoucer:before { font-family: "Flaticon-city"; content: "\f100"; }
.flaticon-apartments:before { font-family: "Flaticon-city"; content: "\f101"; }
.flaticon-apartments-1:before { font-family: "Flaticon-city"; content: "\f102"; }
.flaticon-apartments-2:before { font-family: "Flaticon-city"; content: "\f103"; }
.flaticon-apartments-3:before { font-family: "Flaticon-city"; content: "\f104"; }
.flaticon-apartments-4:before { font-family: "Flaticon-city"; content: "\f105"; }
.flaticon-arch:before { font-family: "Flaticon-city"; content: "\f106"; }
.flaticon-arch-1:before { font-family: "Flaticon-city"; content: "\f107"; }
.flaticon-bank:before { font-family: "Flaticon-city"; content: "\f108"; }
.flaticon-bench:before { font-family: "Flaticon-city"; content: "\f109"; }
.flaticon-bench-1:before { font-family: "Flaticon-city"; content: "\f10a"; }
.flaticon-billboard:before { font-family: "Flaticon-city"; content: "\f10b"; }
.flaticon-bus:before { font-family: "Flaticon-city"; content: "\f10c"; }
.flaticon-bus-stop:before { font-family: "Flaticon-city"; content: "\f10d"; }
.flaticon-bush:before { font-family: "Flaticon-city"; content: "\f10e"; }
.flaticon-bush-1:before { font-family: "Flaticon-city"; content: "\f10f"; }
.flaticon-car:before { font-family: "Flaticon-city"; content: "\f110"; }
.flaticon-castle:before { font-family: "Flaticon-city"; content: "\f111"; }
.flaticon-chapel:before { font-family: "Flaticon-city"; content: "\f112"; }
.flaticon-church:before { font-family: "Flaticon-city"; content: "\f113"; }
.flaticon-church-1:before { font-family: "Flaticon-city"; content: "\f114"; }
.flaticon-circus:before { font-family: "Flaticon-city"; content: "\f115"; }
.flaticon-coupe:before { font-family: "Flaticon-city"; content: "\f116"; }
.flaticon-direction:before { font-family: "Flaticon-city"; content: "\f117"; }
.flaticon-factory:before { font-family: "Flaticon-city"; content: "\f118"; }
.flaticon-factory-1:before { font-family: "Flaticon-city"; content: "\f119"; }
.flaticon-fence:before { font-family: "Flaticon-city"; content: "\f11a"; }
.flaticon-fence-1:before { font-family: "Flaticon-city"; content: "\f11b"; }
.flaticon-fence-2:before { font-family: "Flaticon-city"; content: "\f11c"; }
.flaticon-ferris-wheel:before { font-family: "Flaticon-city"; content: "\f11d"; }
.flaticon-fire-station:before { font-family: "Flaticon-city"; content: "\f11e"; }
.flaticon-flagpole:before { font-family: "Flaticon-city"; content: "\f11f"; }
.flaticon-flowerpot:before { font-family: "Flaticon-city"; content: "\f120"; }
.flaticon-food-stall:before { font-family: "Flaticon-city"; content: "\f121"; }
.flaticon-food-stall-1:before { font-family: "Flaticon-city"; content: "\f122"; }
.flaticon-fountain:before { font-family: "Flaticon-city"; content: "\f123"; }
.flaticon-gas-station:before { font-family: "Flaticon-city"; content: "\f124"; }
.flaticon-gate:before { font-family: "Flaticon-city"; content: "\f125"; }
.flaticon-hangar:before { font-family: "Flaticon-city"; content: "\f126"; }
.flaticon-hospital:before { font-family: "Flaticon-city"; content: "\f127"; }
.flaticon-hotel:before { font-family: "Flaticon-city"; content: "\f128"; }
.flaticon-hotel-1:before { font-family: "Flaticon-city"; content: "\f129"; }
.flaticon-house:before { font-family: "Flaticon-city"; content: "\f12a"; }
.flaticon-house-1:before { font-family: "Flaticon-city"; content: "\f12b"; }
.flaticon-house-2:before { font-family: "Flaticon-city"; content: "\f12c"; }
.flaticon-house-3:before { font-family: "Flaticon-city"; content: "\f12d"; }
.flaticon-house-4:before { font-family: "Flaticon-city"; content: "\f12e"; }
.flaticon-house-5:before { font-family: "Flaticon-city"; content: "\f12f"; }
.flaticon-hydrant:before { font-family: "Flaticon-city"; content: "\f130"; }
.flaticon-light:before { font-family: "Flaticon-city"; content: "\f131"; }
.flaticon-light-1:before { font-family: "Flaticon-city"; content: "\f132"; }
.flaticon-light-2:before { font-family: "Flaticon-city"; content: "\f133"; }
.flaticon-mailbox:before { font-family: "Flaticon-city"; content: "\f134"; }
.flaticon-market:before { font-family: "Flaticon-city"; content: "\f135"; }
.flaticon-minivan:before { font-family: "Flaticon-city"; content: "\f136"; }
.flaticon-mosque:before { font-family: "Flaticon-city"; content: "\f137"; }
.flaticon-museum:before { font-family: "Flaticon-city"; content: "\f138"; }
.flaticon-nuclear-plant:before { font-family: "Flaticon-city"; content: "\f139"; }
.flaticon-office-block:before { font-family: "Flaticon-city"; content: "\f13a"; }
.flaticon-office-block-1:before { font-family: "Flaticon-city"; content: "\f13b"; }
.flaticon-office-block-2:before { font-family: "Flaticon-city"; content: "\f13c"; }
.flaticon-office-block-3:before { font-family: "Flaticon-city"; content: "\f13d"; }
.flaticon-office-block-4:before { font-family: "Flaticon-city"; content: "\f13e"; }
.flaticon-office-block-5:before { font-family: "Flaticon-city"; content: "\f13f"; }
.flaticon-office-block-6:before { font-family: "Flaticon-city"; content: "\f140"; }
.flaticon-office-block-7:before { font-family: "Flaticon-city"; content: "\f141"; }
.flaticon-office-block-8:before { font-family: "Flaticon-city"; content: "\f142"; }
.flaticon-parking:before { font-family: "Flaticon-city"; content: "\f143"; }
.flaticon-phone-booth:before { font-family: "Flaticon-city"; content: "\f144"; }
.flaticon-phone-booth-1:before { font-family: "Flaticon-city"; content: "\f145"; }
.flaticon-pickup:before { font-family: "Flaticon-city"; content: "\f146"; }
.flaticon-police-station:before { font-family: "Flaticon-city"; content: "\f147"; }
.flaticon-power-plant:before { font-family: "Flaticon-city"; content: "\f148"; }
.flaticon-residential:before { font-family: "Flaticon-city"; content: "\f149"; }
.flaticon-residential-1:before { font-family: "Flaticon-city"; content: "\f14a"; }
.flaticon-shop:before { font-family: "Flaticon-city"; content: "\f14b"; }
.flaticon-shopping-center:before { font-family: "Flaticon-city"; content: "\f14c"; }
.flaticon-skyscraper:before { font-family: "Flaticon-city"; content: "\f14d"; }
.flaticon-skyscraper-1:before { font-family: "Flaticon-city"; content: "\f14e"; }
.flaticon-skyscraper-2:before { font-family: "Flaticon-city"; content: "\f14f"; }
.flaticon-skyscraper-3:before { font-family: "Flaticon-city"; content: "\f150"; }
.flaticon-skyscraper-4:before { font-family: "Flaticon-city"; content: "\f151"; }
.flaticon-skyscraper-5:before { font-family: "Flaticon-city"; content: "\f152"; }
.flaticon-skyscraper-6:before { font-family: "Flaticon-city"; content: "\f153"; }
.flaticon-stock:before { font-family: "Flaticon-city"; content: "\f154"; }
.flaticon-stop:before { font-family: "Flaticon-city"; content: "\f155"; }
.flaticon-street-map:before { font-family: "Flaticon-city"; content: "\f156"; }
.flaticon-swing:before { font-family: "Flaticon-city"; content: "\f157"; }
.flaticon-synagogue:before { font-family: "Flaticon-city"; content: "\f158"; }
.flaticon-taxi:before { font-family: "Flaticon-city"; content: "\f159"; }
.flaticon-terrace:before { font-family: "Flaticon-city"; content: "\f15a"; }
.flaticon-theatre:before { font-family: "Flaticon-city"; content: "\f15b"; }
.flaticon-toilet:before { font-family: "Flaticon-city"; content: "\f15c"; }
.flaticon-townhouse:before { font-family: "Flaticon-city"; content: "\f15d"; }
.flaticon-traffic-light:before { font-family: "Flaticon-city"; content: "\f15e"; }
.flaticon-traffic-light-1:before { font-family: "Flaticon-city"; content: "\f15f"; }
.flaticon-tram:before { font-family: "Flaticon-city"; content: "\f160"; }
.flaticon-tree:before { font-family: "Flaticon-city"; content: "\f161"; }
.flaticon-tree-1:before { font-family: "Flaticon-city"; content: "\f162"; }
.flaticon-tree-2:before { font-family: "Flaticon-city"; content: "\f163"; }
.flaticon-truck:before { font-family: "Flaticon-city"; content: "\f164"; }
.flaticon-urn:before { font-family: "Flaticon-city"; content: "\f165"; }
    
    $font-Flaticon-annoucer: "\f100";
    $font-Flaticon-apartments: "\f101";
    $font-Flaticon-apartments-1: "\f102";
    $font-Flaticon-apartments-2: "\f103";
    $font-Flaticon-apartments-3: "\f104";
    $font-Flaticon-apartments-4: "\f105";
    $font-Flaticon-arch: "\f106";
    $font-Flaticon-arch-1: "\f107";
    $font-Flaticon-bank: "\f108";
    $font-Flaticon-bench: "\f109";
    $font-Flaticon-bench-1: "\f10a";
    $font-Flaticon-billboard: "\f10b";
    $font-Flaticon-bus: "\f10c";
    $font-Flaticon-bus-stop: "\f10d";
    $font-Flaticon-bush: "\f10e";
    $font-Flaticon-bush-1: "\f10f";
    $font-Flaticon-car: "\f110";
    $font-Flaticon-castle: "\f111";
    $font-Flaticon-chapel: "\f112";
    $font-Flaticon-church: "\f113";
    $font-Flaticon-church-1: "\f114";
    $font-Flaticon-circus: "\f115";
    $font-Flaticon-coupe: "\f116";
    $font-Flaticon-direction: "\f117";
    $font-Flaticon-factory: "\f118";
    $font-Flaticon-factory-1: "\f119";
    $font-Flaticon-fence: "\f11a";
    $font-Flaticon-fence-1: "\f11b";
    $font-Flaticon-fence-2: "\f11c";
    $font-Flaticon-ferris-wheel: "\f11d";
    $font-Flaticon-fire-station: "\f11e";
    $font-Flaticon-flagpole: "\f11f";
    $font-Flaticon-flowerpot: "\f120";
    $font-Flaticon-food-stall: "\f121";
    $font-Flaticon-food-stall-1: "\f122";
    $font-Flaticon-fountain: "\f123";
    $font-Flaticon-gas-station: "\f124";
    $font-Flaticon-gate: "\f125";
    $font-Flaticon-hangar: "\f126";
    $font-Flaticon-hospital: "\f127";
    $font-Flaticon-hotel: "\f128";
    $font-Flaticon-hotel-1: "\f129";
    $font-Flaticon-house: "\f12a";
    $font-Flaticon-house-1: "\f12b";
    $font-Flaticon-house-2: "\f12c";
    $font-Flaticon-house-3: "\f12d";
    $font-Flaticon-house-4: "\f12e";
    $font-Flaticon-house-5: "\f12f";
    $font-Flaticon-hydrant: "\f130";
    $font-Flaticon-light: "\f131";
    $font-Flaticon-light-1: "\f132";
    $font-Flaticon-light-2: "\f133";
    $font-Flaticon-mailbox: "\f134";
    $font-Flaticon-market: "\f135";
    $font-Flaticon-minivan: "\f136";
    $font-Flaticon-mosque: "\f137";
    $font-Flaticon-museum: "\f138";
    $font-Flaticon-nuclear-plant: "\f139";
    $font-Flaticon-office-block: "\f13a";
    $font-Flaticon-office-block-1: "\f13b";
    $font-Flaticon-office-block-2: "\f13c";
    $font-Flaticon-office-block-3: "\f13d";
    $font-Flaticon-office-block-4: "\f13e";
    $font-Flaticon-office-block-5: "\f13f";
    $font-Flaticon-office-block-6: "\f140";
    $font-Flaticon-office-block-7: "\f141";
    $font-Flaticon-office-block-8: "\f142";
    $font-Flaticon-parking: "\f143";
    $font-Flaticon-phone-booth: "\f144";
    $font-Flaticon-phone-booth-1: "\f145";
    $font-Flaticon-pickup: "\f146";
    $font-Flaticon-police-station: "\f147";
    $font-Flaticon-power-plant: "\f148";
    $font-Flaticon-residential: "\f149";
    $font-Flaticon-residential-1: "\f14a";
    $font-Flaticon-shop: "\f14b";
    $font-Flaticon-shopping-center: "\f14c";
    $font-Flaticon-skyscraper: "\f14d";
    $font-Flaticon-skyscraper-1: "\f14e";
    $font-Flaticon-skyscraper-2: "\f14f";
    $font-Flaticon-skyscraper-3: "\f150";
    $font-Flaticon-skyscraper-4: "\f151";
    $font-Flaticon-skyscraper-5: "\f152";
    $font-Flaticon-skyscraper-6: "\f153";
    $font-Flaticon-stock: "\f154";
    $font-Flaticon-stop: "\f155";
    $font-Flaticon-street-map: "\f156";
    $font-Flaticon-swing: "\f157";
    $font-Flaticon-synagogue: "\f158";
    $font-Flaticon-taxi: "\f159";
    $font-Flaticon-terrace: "\f15a";
    $font-Flaticon-theatre: "\f15b";
    $font-Flaticon-toilet: "\f15c";
    $font-Flaticon-townhouse: "\f15d";
    $font-Flaticon-traffic-light: "\f15e";
    $font-Flaticon-traffic-light-1: "\f15f";
    $font-Flaticon-tram: "\f160";
    $font-Flaticon-tree: "\f161";
    $font-Flaticon-tree-1: "\f162";
    $font-Flaticon-tree-2: "\f163";
    $font-Flaticon-truck: "\f164";
    $font-Flaticon-urn: "\f165";